body { background: #47371a; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 56px; display: flex; }
.block-cache-0 { color: #aa5324; font-size: 19px; margin-bottom: 5px; }
.block-sms-1 { color: #423054; font-size: 13px; margin-bottom: 5px; }
.block-sms-2 { color: #987a58; font-size: 21px; margin-bottom: 5px; }
.block-cache-3 { color: #ba84be; font-size: 14px; margin-bottom: 5px; }
.block-product-4 { color: #4f53e6; font-size: 20px; margin-bottom: 5px; }
.block-helper-5 { color: #8e11d7; font-size: 18px; margin-bottom: 5px; }
.block-uploader-6 { color: #a4b805; font-size: 18px; margin-bottom: 5px; }